.weather-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 750px;
  margin: 0 auto;
  padding: var(--size-base) var(--size-base) 0 var(--size-base);
}

.weather-app__loading-msg {
  font-size: var(--fontsize-small);
  margin: var(--size-base) 0;
  padding: var(--size-small);
}

.weather-app__error-msg {
  background-color: #f8d7da;
  color: #e10000;
  font-size: var(--fontsize-small);
  margin: var(--size-base) 0;
  padding: var(--size-small);
  border-radius: var(--size-radius-base);
}

.weather-app__results {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: none;
  border-top-left-radius: var(--size-radius-large);
  border-top-right-radius: var(--size-radius-large);
  margin-top: 120px;
  padding: var(--size-base) var(--size-base) 0 var(--size-base);
}

@media (min-width: 768px) {
  .weather-app__loading-msg {
    font-size: var(--fontsize-base);
    padding: var(--size-base);
  }

  .weather-app__error-msg {
    font-size: var(--fontsize-base);
    padding: var(--size-base);
    border-radius: var(--size-radius-large);
  }

  .weather-app__results {
    border-top-left-radius: var(--size-radius-larger);
    border-top-right-radius: var(--size-radius-larger);
    padding: var(--size-larger) var(--size-larger) 0 var(--size-larger);
  }
}
